.language_dropdown {
    position: absolute;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    top: 25px;

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        background: rgba(255, 255, 255, 0.08);
        -webkit-backdrop-filter: blur(64px);
        backdrop-filter: blur(64px);
    }
}
