.language_dropdown-item {
    cursor: pointer;
    margin-bottom: 16px;
    text-transform: capitalize;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        color: #2f66f2;
    }
}
