@import '_mix';

.btn--empty {
    @include btn-reset;

    border: 1px solid rgb(255 255 255 / 48%);
    color: #c5e4f3;
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    min-height: 44px;
    padding: 0 16px;

    &:hover {
        border-color: rgb(255 255 255 / 78%);
        color: #ffffff;
    }

    &.btn-dark {
        border: 1px solid rgb(5 10 46 / 32%);
        color: #050a2e;

        &:hover {
            border: 1px solid rgb(5 10 46 / 56%);
        }
    }
}

.btn-with-icon {
    align-items: center;
    column-gap: 10px;
    display: flex;
}

.btn__counter {
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    min-width: 20px;
    padding: 0 5px;
    text-align: center;
}

.btn--tertiary {
    .btn__counter {
        background-color: #2f66f2;
        color: #ffffff;
    }
}
