@import '~@/styles/_mix';

.pagination {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;

    &__txt {
        font-size: 14px;
        letter-spacing: 0.75px;
        line-height: 20px;
    }

    &__input {
        @include input-reset;

        border: 1px solid rgb(255 255 255 / 16%);
        border-radius: 4px;
        color: #ffffff;
        font-size: 14px;
        height: 40px;
        letter-spacing: 0.75px;
        line-height: 20px;
        margin: 0 10px;
        text-align: center;
        width: 64px;

        &:focus { border-color: #ffffff; }
    }

    &__btn.btn {
        background: rgb(197 228 243 / 16%);
        border: none;
        border-radius: 40px;
        height: 40px;
        margin-left: 10px;
        outline: none;
        padding: 0;
        width: 40px;

        &:hover:not(:disabled) {
            background-color: #2f66f2;
            svg { fill: #ffffff; }
        }

        svg { fill: #c5e4f3; }
    }
}
