.languages {
    position: relative;
}

.picked-language {
    cursor: pointer;
    padding-left: 12px;
}

.language-select__arrow {
    margin-left: 4px;
    transition: 300ms;

    svg {
        fill: #fff;
        fill-opacity: 0.48;
    }

    &.list-opened {
        transform: rotate(180deg);
    }
}
